body{
  background: azure;
}
.App{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  background: lightgoldenrodyellow
}

.MyContent-Link {
  color: azure;
  font-weight: 800;
}