.App{
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

textarea {
  display: flex;
  border-radius: 10px;
  margin: 10px 30px;
  padding: 5px 10px;
}